@page
@model TravelGod.ru.Pages.Trips
@{
    ViewData["Title"] = "Поездки";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="w-100 img-fluid d-none d-md-block" src="/trips-bg2.png" alt="">
            <img class="w-100 img-fluid d-md-none" src="/trips-bg.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 position-relative @if (Model.ListOfTrips?.TotalPages > 1) {@("mb-5")}">
            @if (Model.ListOfTrips?.Count > 0)
            {
                @foreach (var trip in Model.ListOfTrips)
                {
                    <div class="card w-100 my-3 mt-5 shadow">
                        <div class="card-body position-relative">
                            <div class="position-absolute" style="top: -35px; left: 0;">
                                <img src="@trip.Initiator.Avatar.Path" class="rounded mr-2" alt="аватарка" width="30" title="@trip.Initiator.Avatar.Name">
                                <a asp-page="Profile" asp-route-id="@trip.Initiator.Id" class="text-dark">
                                    <strong>@trip.Initiator.DisplayName</strong>
                                </a>
                            </div>
                            <h5 class="card-title d-flex justify-content-between">
                                <a asp-route-id="@trip.Id" asp-page="TripPage" class="text-dark">
                                    @(trip.Title.Length > 15 ? trip.Title[..15] + "..." : trip.Title)
                                </a>
                                <small class="text-muted">
                                    @(trip.Route[0].Length > 10 ? trip.Route[0][..10] + "..." : trip.Route[0])
                                    @if (trip.Route.Count > 1)
                                    {
                                        @(trip.Route.Last().Length > 10 ? " - " + trip.Route.Last()[..10] + "..." : " - " + trip.Route.Last())
                                    }
                                </small>
                            </h5>
                            <p class="card-text">@(trip.Description.Length > 45 ? trip.Description[..45] + "..." : trip.Description)</p>
                            <div class="d-flex justify-content-between">
                                <span class="text-muted">Участников: @trip.UsersCount</span>
                                <span class="text-muted">@trip.StartDate.ToString("D") - @trip.EndDate.ToString("D")</span>
                            </div>
                        </div>
                    </div>
                }

                if (Model.ListOfTrips.TotalPages > 1)
                {
                    var prevDisabled = !Model.ListOfTrips.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.ListOfTrips.HasNextPage ? "disabled" : "";

                    <nav class="position-absolute" style="bottom: 0; left: 50%; transform: translate(-50%, 100%);" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @prevDisabled">
                                <a class="page-link" asp-route-title="@Model.Options.Title" asp-route-route="@Model.Options.Route"
                                   asp-route-archive="@Model.Options.Archive" asp-route-dates="@Model.Options.Dates"
                                   asp-route-pageNumber="@(Model.ListOfTrips.PageIndex - 1)" asp-page="Trips">
                                    Назад
                                </a>
                            </li>
                            <li class="page-item @nextDisabled">
                                <a class="page-link" asp-route-title="@Model.Options.Title" asp-route-route="@Model.Options.Route"
                                   asp-route-archive="@Model.Options.Archive" asp-route-dates="@Model.Options.Dates"
                                   asp-route-pageNumber="@(Model.ListOfTrips.PageIndex + 1)" asp-page="Trips">
                                    Вперед
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            }
            else
            {
                <h4 class="text-center m-3">Таких поездок не существует.</h4>
            }
        </div>
        <div class="col-lg-2"></div>
        <div class="order-first order-lg-last col-lg-4">
            <div class="sticky-top">
                <div class="my-3 shadow p-3">
                    <h2>
                        Поиск
                    </h2>
                    <form method="get">
                        <div class="form-group">
                            <label asp-for="Options.Title">Название</label>
                            <input asp-for="Options.Title" class="form-control" type="text">
                            <span asp-validation-for="Options.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Options.Dates">Даты</label>
                            <input asp-for="Options.Dates" class="form-control" type="text" id="dateRangePicker">
                            <span asp-validation-for="Options.Dates" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Options.Route">Маршрут</label>
                            <input asp-for="Options.Route" class="form-control" type="text">
                            <small class="form-text text-muted">Введите населённые пункты через пробел.</small>
                            <span asp-validation-for="Options.Route" class="text-danger"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="Options.Archive" type="checkbox"> Поездка уже прошла
                            </label>
                        </div>
                        <input type="submit" class="btn btn-outline-dark mt-3" value="Искать">
                    </form>
                </div>
                @if (Model.User is not null)
                {
                    <div class="my-3 text-center">
                        <a asp-area="" asp-page="AddTrip" class="btn btn-outline-primary">Добавить поездку</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="js/trips.js"></script>
    <partial name="Shared/_ValidationScriptsPartial"/>
}