@page "{id}"
@using TravelGod.ru.Models
@using TravelGod.ru.Infrastructure
@using System.ComponentModel.DataAnnotations
@model TravelGod.ru.Pages.TripPage
@{
    ViewData["Title"] = Model.Trip.Title;
}

@{
    var imagePath = Model.Trip.Type switch {
        TripType.NatureTrip => "/nature-trip.jpeg",
        TripType.CityTrip => "/city-trip.jpeg",
        TripType.CommonTrip => "/common-trip.jpg",
        _ => throw new ArgumentOutOfRangeException()
        };
}

<div class="jumbotron jumbotron-fluid" style="height: 15rem; background-image: url('@imagePath'); background-position: center; background-size: cover">
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post overflow-hidden">
                <h2 class="blog-post-title">
                    @Model.Trip.Title
                </h2>
                <p class="blog-post-meta">
                    @Model.Trip.StartDate.ToString("D") - @Model.Trip.EndDate.ToString("D")
                    @if (Model.Trip.EndDate < DateTime.Now)
                    {
                        <span class="text-info ml-2">Поездка уже прошла</span>
                    }
                </p>
                <p class="font-weight-bold">Маршрут:</p>
                <ul>
                    @foreach (var point in Model.Trip.Route)
                    {
                        <li>@point</li>
                    }
                </ul>
                <p>@Model.Trip.Description</p>
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="sticky-top">
                @if (Model.User is not null && !Model.Trip.Users.Contains(Model.User) && Model.Trip.EndDate > DateTime.Now)
                {
                    <div class="text-center mb-3">
                        <a asp-area="" asp-page="/TripPage" asp-page-handler="Join" class="btn btn-outline-primary mx-4">Присоединиться</a>
                    </div>
                }

                <div class="mb-3 p-4 shadow">
                    <h4 class="font-italic">Организатор</h4>
                    <div class="my-1">
                        <a asp-page="Profile" asp-route-id="@Model.Trip.Initiator.Id" class="text-dark text-nowrap">
                            <img src="/@Model.Trip.Initiator.Avatar.Path" class="rounded mr-2" style="object-fit: cover" alt="аватарка" width="30" height="30" title="@Model.Trip.Initiator.Avatar.Name">
                            <span>@Model.Trip.Initiator.DisplayName</span>
                        </a>
                    </div>
                    @if (!string.IsNullOrEmpty(@Model.Trip.Initiator.Description))
                    {
                        <p class="m-2">
                            О себе:
                            <span class="font-italic">
                                @(Model.Trip.Initiator.Description.Length > 25
                                    ? Model.Trip.Initiator.Description[..25] + "..."
                                    : Model.Trip.Initiator.Description)
                            </span>
                        </p>
                    }
                    <p class="m-2">Организовал поездок: <span class="font-italic">@Model.Trip.Initiator.OwnedTripsCount</span></p>
                    <p class="m-2">Принял участие: <span class="font-italic">@Model.Trip.Initiator.OwnedTripsCount</span></p>
                </div>
                <div class="mb-3 p-4 shadow">
                    <h4 class="font-italic">Участники <small> - @Model.Trip.UsersCount</small></h4>
                    <ol class="list-unstyled mb-0">
                        @foreach (var user in Model.Trip.Users)
                        {
                            <li class="mt-1">
                                <a asp-page="Profile" asp-route-id="@user.Id" class="text-dark text-nowrap">
                                    <img src="/@user.Avatar.Path" class="rounded mr-2" style="object-fit: cover"  alt="аватарка" width="25" height="25" title="@user.Avatar.Name">
                                    <span>@user.DisplayName</span>
                                </a>
                            </li>
                        }
                    </ol>
                </div>
                @if (Model.User == Model.Trip.Initiator && Model.Trip.Chat is null)
                {
                    <div class="mb-3 text-center">
                        <a asp-area="" asp-page="/TripPage" asp-page-handler="CreateChat" class="btn btn-outline-primary">Создать общий чат</a>
                    </div>
                }
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->
</main><!-- /.container -->

<div class="container pb-1 mt-4">
    @if (Model.User is not null)
    {
        <div class="row no-gutters mb-4">
            <div class="col-auto">
                <img src="/@Model.User.Avatar.Path" class="rounded mr-2" style="object-fit: cover" alt="аватарка" width="40" height="40" title="@Model.User.Avatar.Name">
            </div>
            <div class="col col-md-7">
                <form method="Post" id="comment-form">
                    <div class="form-group">
                        <textarea asp-for="NewComment.Text" id="comment-text" class="form-control" rows="3" style="resize: none;" placeholder="Комментарий"></textarea>
                        <span asp-validation-for="NewComment.Text" class="text-danger"></span>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Оставить комментарий">
                </form>
            </div>
        </div>
    }
    <div id="comments">
        @foreach (var comment in Model.Trip.Comments)
        {
            @await Component.InvokeAsync("Comment", new {Comment = comment})
        }
    </div>
</div>

@Html.Hidden("TripId", Model.Trip.Id)

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial"/>
    <script src="/js/tripPage.js"></script>
}