@page
@using TravelGod.ru.Models
@model TravelGod.ru.Pages.Admin.Users
@{
    ViewData["Title"] = "Админка - Пользователи";
}

<form>
    <div class="form-row">
        <div class="form-group col">
            <label asp-for="UserFilter.Name">Имя</label>
            <input name="name" class="form-control">
            <small class="form-text text-muted">Поиск по ФИО или логину.</small>
        </div>
        <div class="form-group col">
            <label asp-for="UserFilter.Role">Роль</label>
            @foreach (var c in Enum.GetValues<Role>())
            {
                <div class="custom-control custom-radio">
                    <input type="radio" asp-for="UserFilter.Role" id="UsersOptions_Role_@c" value="@((int) c)" class="custom-control-input" checked="@(c == Model?.UserFilter.Role)"/>
                    <label for="UsersOptions_Role_@c" class="custom-control-label">@c</label>
                </div>
            }
        </div>
        <div class="form-group form-check col">
            <label asp-for="UserFilter.Status">Статус</label>
            @foreach (var c in Enum.GetValues<Status>())
            {
                <div class="custom-control custom-radio">
                    <input type="radio" asp-for="UserFilter.Status" id="UsersOptions_Status_@c" value="@((int) c)" class="custom-control-input" checked="@(c == Model?.UserFilter.Status)"/>
                    <label for="UsersOptions_Status_@c" class="custom-control-label">@c</label>
                </div>
            }
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>
</form>

<table class="table table-responsive my-5">
    <caption>Список пользователей</caption>
    <thead>
    <tr>
        <th scope="col" class="text-nowrap"></th>
        <th scope="col" class="text-nowrap">Id</th>
        <th scope="col" class="text-nowrap">Аватарка</th>
        <th scope="col" class="text-nowrap">Имя</th>
        <th scope="col" class="text-nowrap">Фамилия</th>
        <th scope="col" class="text-nowrap">Отчество</th>
        <th scope="col" class="text-nowrap">Логин</th>
        <th scope="col" class="text-nowrap">О себе</th>
        <th scope="col" class="text-nowrap">E-mail</th>
        <th scope="col" class="text-nowrap">День рождения</th>
        <th scope="col" class="text-nowrap">Роль</th>
        <th scope="col" class="text-nowrap">Статус</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.ListOfUsers)
    {
        <tr>
            <td class="text-nowrap">
                <button class="toggle-edit btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill m-0" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                    </svg>
                </button>
                <button class="save btn btn-outline-primary" type="submit" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg m-0" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                    </svg>
                </button>
                @if (user.Status is Status.Normal && user.Id != Model.User.Id)
                {
                    <form method="post" asp-page-handler="Remove" asp-route-id="@user.Id" class="d-inline-block remove-form">
                        <button type="submit" class="remove btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg m-0" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                            </svg>
                        </button>
                    </form>
                }
            </td>
            <td hidden>
                <form method="post" id="Edit_@user.Id"></form>
            </td>
            <th scope="row">
                <input asp-for="EditedUser.Id" id="Edit_Id_@user.Id" type="text" class="id d-none" hidden value="@user.Id">
                @user.Id
            </th>
            <td>
                <user-avatar asp-user="user" width="30" height="30"/>
            </td>
            <td>
                <input asp-for="EditedUser.FirstName" id="Edit_FirstName_@user.Id" type="text" class="form-control-plaintext w-auto" readonly disabled value="@user.FirstName" form="Edit_@user.Id"/>
            </td>
            <td>
                <input asp-for="EditedUser.LastName" id="Edit_LastName_@user.Id" type="text" class="form-control-plaintext w-auto" readonly disabled value="@user.LastName" form="Edit_@user.Id"/>
            </td>
            <td>
                <input asp-for="EditedUser.Patronymic" id="Edit_Patronymic_@user.Id" type="text" class="form-control-plaintext w-auto" readonly disabled value="@user.Patronymic" form="Edit_@user.Id"/>
            </td>
            <td>
                <input asp-for="EditedUser.Login" id="Edit_Login_@user.Id" type="text" class="form-control-plaintext w-auto" readonly disabled value="@user.Login" form="Edit_@user.Id"/>
            </td>
            <td>
                <input asp-for="EditedUser.Description" id="Edit_Description_@user.Id" type="text" class="form-control-plaintext w-auto" readonly disabled value="@user.Description" form="Edit_@user.Id"/>
            </td>
            <td>
                <input asp-for="EditedUser.Email" id="Edit_Email_@user.Id" type="email" class="form-control-plaintext w-auto" readonly disabled value="@user.Email" form="Edit_@user.Id"/>
            </td>
            <td>
                <input asp-for="EditedUser.BirthDate" id="Edit_BirthDate_@user.Id" type="date" class="form-control-plaintext w-auto" readonly disabled value="@user.BirthDate?.ToString("yyyy-MM-dd")" form="Edit_@user.Id"/>
            </td>
            <td>
                @if (Model.User.Role is Role.Administrator)
                {
                    <select asp-for="@user.Role" asp-items="@Html.GetEnumSelectList<Role>()" id="Edit_Role_@user.Id" name="EditedUser.Role" class="form-control-plaintext w-auto" readonly disabled form="Edit_@user.Id">
                    </select>
                }
                else
                {
                    <span>@user.Role</span>
                }
            </td>
            <td>
                <span>@user.Status</span>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.ListOfUsers.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ListOfUsers.HasNextPage ? "disabled" : "";
}

<nav class="position-absolute" style="bottom: 0; left: 50%; transform: translate(-50%, 0);" aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-route-name="@Model.UserFilter.Name" asp-route-role="@Model.UserFilter.Role"
               asp-route-status="@Model.UserFilter.Status" asp-route-pageNumber="@(Model.ListOfUsers.PageIndex - 1)" asp-page="/Admin/Users">
                Назад
            </a>
        </li>
        <li class="page-item @nextDisabled">
            <a class="page-link" asp-route-name="@Model.UserFilter.Name" asp-route-role="@Model.UserFilter.Role"
               asp-route-status="@Model.UserFilter.Status" asp-route-pageNumber="@(Model.ListOfUsers.PageIndex + 1)" asp-page="/Admin/Users">
                Вперед
            </a>
        </li>
    </ul>
</nav>