@model TravelGod.ru.Models.Comment
<div class="row no-gutters mb-4">
    <div class="col-auto">
        <img src="/@Model.User.Avatar.Path" class="rounded mr-2" style="object-fit: cover"  alt="аватарка" width="40" height="40" title="@Model.User.Avatar.Name">
    </div>
    <div class="col">
        <div>
            <a asp-page="/Profile/Index" asp-route-id="@Model.User.Id" class="text-dark text-nowrap font-weight-bold overflow-hidden">
                <span>@Model.User.DisplayName</span>
            </a>
        </div>
        <small>@Model.Date.ToString("d")</small>
        <p class="pt-2 mb-0">@Model.Text</p>
    </div>
</div>