@page
@model TravelGod.ru.Pages.Trips.Index
@{
    ViewData["Title"] = "Поездки";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="w-100 img-fluid d-none d-md-block" src="/trips-bg2.png" alt="">
            <img class="w-100 img-fluid d-md-none" src="/trips-bg.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 position-relative @if (Model.ListOfTrips?.TotalPages > 1) {@("mb-5")}">
            @if (Model.ListOfTrips?.Any() ?? false)
            {
                @foreach (var trip in Model.ListOfTrips)
                {
                    <div class="card w-100 shadow" style="margin: 4rem 0 4rem 0">
                        <div class="card-body position-relative">
                            <div class="position-absolute text-nowrap overflow-hidden" style="top: -35px; left: 0;">

                                <a asp-page="/Profile/Index" asp-route-id="@trip.CreatedBy.Id" class="text-dark text-nowrap font-weight-bold">
                                    @await Component.InvokeAsync("UserDisplayName", new {User = trip.CreatedBy})
                                </a>
                            </div>
                            <h5 class="card-title d-flex justify-content-between overflow-hidden align-items-center">
                                <a asp-page="/Trips/Concrete" asp-route-id="@trip.Id" class="text-dark text-nowrap">
                                    @trip.Title
                                </a>
                                <small class="text-muted text-nowrap ml-3">
                                    @trip.Route[0]
                                    @if (trip.Route.Count > 1)
                                    {
                                        @(" - " + trip.Route.Last())
                                    }
                                </small>
                            </h5>
                            <p class="card-text text-nowrap overflow-hidden">@trip.Description</p>
                            <div class="d-flex justify-content-between">
                                <span class="text-muted d-inline-flex align-items-center">
                                    <span class="d-none d-sm-inline mr-2">Участников:</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill d-sm-none" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                    </svg>
                                    @trip.UsersCount
                                </span>
                                <span class="text-muted text-nowrap overflow-hidden ml-3">@trip.StartDate.ToString("dd.MM.yyyy") - @trip.EndDate.ToString("dd.MM.yyyy")</span>
                            </div>
                        </div>
                    </div>
                }

                if (Model.ListOfTrips.TotalPages > 1)
                {
                    var prevDisabled = !Model.ListOfTrips.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.ListOfTrips.HasNextPage ? "disabled" : "";

                    <nav class="position-absolute" style="bottom: 0; left: 50%; transform: translate(-50%, 100%);" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @prevDisabled">
                                <a class="page-link" asp-route-title="@Model.Filter.Title" asp-route-route="@Model.Filter.Route"
                                   asp-route-archive="@Model.Filter.Archive" asp-route-dates="@Model.Filter.Dates"
                                   asp-route-pageNumber="@(Model.ListOfTrips.PageIndex - 1)" asp-page="/Trips/Index">
                                    Назад
                                </a>
                            </li>
                            <li class="page-item @nextDisabled">
                                <a class="page-link" asp-route-title="@Model.Filter.Title" asp-route-route="@Model.Filter.Route"
                                   asp-route-archive="@Model.Filter.Archive" asp-route-dates="@Model.Filter.Dates"
                                   asp-route-pageNumber="@(Model.ListOfTrips.PageIndex + 1)" asp-page="/Trips/Index">
                                    Вперед
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            }
            else
            {
                <h4 class="text-center m-3">Таких поездок не существует.</h4>
            }
        </div>
        <div class="col-lg-2"></div>
        <div class="order-first order-lg-last col-lg-4">
            <div class="sticky-top">
                <div class="my-3 shadow p-3">
                    <h2>
                        Поиск
                    </h2>
                    <form method="get">
                        <div class="form-group">
                            <label asp-for="Filter.Title">Название</label>
                            <input asp-for="Filter.Title" class="form-control" type="text">
                            <span asp-validation-for="Filter.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Filter.Dates">Даты</label>
                            <input asp-for="Filter.Dates" class="form-control bg-white" type="text" id="dateRangePicker" readonly>
                            <span asp-validation-for="Filter.Dates" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Filter.Route">Маршрут</label>
                            <input asp-for="Filter.Route" class="form-control" type="text">
                            <small class="form-text text-muted">Введите населённые пункты через пробел.</small>
                            <span asp-validation-for="Filter.Route" class="text-danger"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="Filter.Archive" type="checkbox"> Поездка уже прошла
                            </label>
                        </div>
                        <input type="submit" class="btn btn-outline-dark mt-3" value="Искать">
                    </form>
                </div>
                @if (Model.User is not null)
                {
                    <div class="my-3 text-center">
                        <a asp-page="/Trips/Add" class="btn btn-outline-primary">Добавить поездку</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="/js/DateRangePicker.js"></script>
    <partial name="Shared/_ValidationScriptsPartial"/>
}